/* css styles */
.quarto-about-trestles h1.title {
    font-size: 1.5rem !important;
} 

.column-page {
    max-width: 1200px !important;
    width: 100% !important;
}

/* Expand the document content */
#quarto-document-content {
    max-width: none !important;
}
