/* css styles */
.quarto-about-trestles h1.title {
    font-size: 1.5rem !important;
} 

.quarto-about-trestles .subtitle.lead {
    font-weight: 700 !important;
    font-size: 2rem !important;
}

/* Move regular page content to the left */
body:not(.floating) main#quarto-document-content {
  grid-column: screen-start / screen-end !important;
  max-width: 1000px !important;
  margin-left: 12rem !important;
  margin-right: auto !important;
}

/* Keep text readable */
main#quarto-document-content p,
main#quarto-document-content li,
main#quarto-document-content .csl-entry {
  max-width: 900px;
}

/* People page: same-size cards */
.quarto-grid-item img {
    height: 300px !important;
    object-fit: cover !important;
}
