/* css styles */
.quarto-about-trestles h1.title {
    font-size: 1.5rem !important;
} 

.page-layout-full {
    max-width: 1400px !important;
    margin-left: 40px !important;
    margin-right: auto !important;
}

#quarto-document-content {
    max-width: none !important;
}
