/* css styles */
.quarto-about-trestles h1.title {
    font-size: 1.5rem !important;
} 

#quarto-content {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

#quarto-document-content {
    max-width: 100%;
}
